{% extends "sentry/emails/base.html" %}

{% load sentry_helpers %}

{% block bodyclass %}digest{% endblock %}

{% block content %}

<div class="container" style="padding-top: 30px;">
  <h2 style="margin-bottom: 30px">{{ counts|length }} new notification{{ counts|pluralize }} from <a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>
</div>

{% for rule, groups in digest.iteritems %}

    <div class="rule">
      <div class="container">
        {{ rule.label }}
      </div>
    </div>

    <div class="container">
      <table class="event-list">
          <tr>
              <th>Issue</th>
              <th class="align-right">Events</th>
              <th class="align-right">Users</th>
          </tr>
          {% for group, records in groups.iteritems %}
              <tr>
                  <td class="event-detail">
                      {% url 'sentry-group' group.organization.slug group.project.slug group.id as group_link %}
                      <a href="{% absolute_uri group_link %}">{{ group.title }}</a>
                      <p>
                        {{ group.message_short }}
                      </p>
                  </td>
                  <td class="align-right">
                      {{ group.event_count }}
                  </td>
                  <td class="align-right">
                      {{ group.user_count }}
                  </td>
              </tr>
          {% endfor %}
      </table>
    </div>
{% endfor %}

<div class="container">
  <div class="footer" style="margin-top: 30px">
    {% block footer %}
    <a href="{% absolute_uri %}" style="float:right">Home</a>
    {% url 'sentry-account-settings-notifications' as settings_link %}
    <a href="{% absolute_uri settings_link %}">Notification Settings</a>
    {% endblock %}
  </div>
</div>

{% endblock %}
