{% load sentry_helpers %}

{% url 'sentry-group' group.organization.slug group.project.slug group.id as group_link %}
{% url 'sentry-stream' group.organization.slug group.project.slug as project_link %}
<div class="group-header">
  <table class="group-stats">
    <thead>
      <tr>
        <th>
          <h6>On this event</h6>
        </th>
        <th class="align-right">
          <h6>Level</h6>
        </th>
        <th class="align-right">
          <h6>Events</h6>
        </th>
      </tr>
    </thead>
    <tr>
      <td class="group-message">
        <h3>{{ group.title|truncatechars:35 }}</h3>
        <p class="meta">
          <span class="last-seen pretty-date">{{ group.last_seen }} UTC</span>
          {% if group.avg_time_spent %}
            <span class="time-spent">{{ group.avg_time_spent|duration }}</span>
          {% endif %}
          in <a href="{% absolute_uri project_link %}">{{ group.project.get_full_name }}</a>
        </p>
      </td>
      <td class="group-level">
        <p class="value"><span class="level level-{{ group.get_level_display }}">{{ group.get_level_display }}</span></p>
      </td>
      <td class="group-events">
        <p class="value">{{ group.times_seen }}</p>
      </td>
    </tr>
  </table>
</div>
